# Ignore everything
*

# But not directories
!*/

# Keep gitignore itself
!.gitignore

# Custom directory
!.myfuncs

# C sources and headers
!*.c
!*.h

# C++ sources and headers
!*.cpp
!*.hpp

# Makefiles
!Makefile
!makefile
!*.mak

# Shell scripts
!*.sh

# Markdown and text
!*.md
!*.txt

# Sandbox directory
sandbox/
