# Ignore everything
*

# But not directories
!*/

node_modules/

# Keep gitignore itself
!.gitignore

# Custom directory
!.myfuncs

# C sources and headers
!*.c
!*.h

# C++ sources and headers
!*.cpp
!*.hpp

# Makefiles
!Makefile
!makefile
!*.mak

# Shell scripts
!*.sh

# Markdown and text
!*.md
!*.txt

# Sandbox directory
sandbox/

# =========================
# Frontend (Vite / React)
# =========================

!*.ts
!*.tsx
!*.js
!*.jsx
!*.json
!*.css
!*.scss
!*.svg
!*.ico
!*.html

# Frontend config files
!vite.config.*
!tsconfig*.json
!package.json
!package-lock.json
!yarn.lock
!pnpm-lock.yaml

# Docker
!**/Dockerfile
!**/.dockerignore
!*.yml
!*.yaml
!*.conf


# Editor
.vscode/

# Node
**/node_modules/

# Build / tooling
**/compile_commands.json

# Sandboxes / experiments (optional)
fs/

